* {
  font-family: "Roboto", sans-serif;
}

body {
  background-color: #fff;
  margin: 0;
}

.page-one {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.text-area {
    display: flex;
    flex-direction: column;
    align-items: center;
}

img {
    width: 56.46vw;
    height: 54.74vh;
    flex-shrink: 0;
    padding-top: 3.5rem;
    margin-inline-end: 4rem;
  }

h1 {
  margin: 0;
  color: #000;
  font-size: 3.3125rem;
  font-weight: 700;
  padding-bottom: 1.56rem;
  padding-top: 1.56rem;
}

p {
  margin: 0;
  color: #000;
  font-size: 1.5rem;
  font-weight: 700;
  padding-bottom: 1.37rem;
  width: 79.58vw;
  text-align: center;
}

button {
  font-size: 22px;
  font-weight: 700;
  color: #fff;
  width: 41.46vw;
  height: 4.74vh;
  background-color: #3eb25e;
  border-radius: 36px;
  border: none;
}

button:hover {
  color: #000;
  background-color: #ffff7d;
  transition: 0.6s;
}

@media only screen and (min-width: 1024px) {
  .page-one {
    display: flex;
    flex-direction: row;
  }

  img {
    width: 33.67vw;
    height: 87.13vh;
    padding-top: 0;
    margin-inline-start: 8.25rem;
    margin-top: 3.19rem;
  }

  h1 {
    margin: 0;
    width: 35.63vw;
    flex-shrink: 0;
    font-size: 6.9375rem;
    padding-bottom: 2.75rem;
  }

  p {
    width: 36.95vw;
    flex-shrink: 0;
    font-size: 1.8125rem;
    padding-bottom: 4.12rem;
  }

  button {
    width: 15.55vw;
    height: 4.74vh;
  }

  .text-area{
    display: flex;
    flex-direction: column;
    align-items: center;
  }
}
