* {
  margin: 0;
  font-family: "Roboto", sans-serif;
}

body {
  background-color: #fff;
  margin: 0;
  display: flex;
  flex-direction: column;
}

img {
  width: 83.96vw;
  height: 46.06vh;
  flex-shrink: 0;
  padding-top: 2.44rem;
  padding-inline-start: 2.75rem;
  padding-bottom: 1.31rem;
}

form {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  padding-inline-end: 4.19rem;
}

p {
  width: 56.5vw;
  flex-shrink: 0;
  font-size: 1rem;
  font-weight: 700;
  padding-bottom: 0.56rem;
  font-style: normal;
}

select {
  width: 58.13vw;
  height: 4.34vh;
  flex-shrink: 0;
  border-radius: 1.25rem;
  border: 1px solid rgba(0, 0, 0, 0.25);
  margin-bottom: 0.69rem;
  font-size: 1rem;
  text-align: center;
  padding: 0.37rem;
  background: url('/public/img/vectorp.svg') 10px 50% no-repeat;
  padding-inline-start: 2rem;
  appearance: none;
}

.p2 {
  width: 68.5vw;
  padding-inline-start: 7.9rem;
  padding-inline-end: 4.19rem;
  padding-bottom: 0.25rem;
}

.input-group {
  width: 38.12vw;
  height: 13.68vh;
  flex-shrink: 0;
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.3125rem;
  display: flex;
  flex-direction: column;
  padding-bottom: 1.56rem;
}

.input-group label {
  display: flex;
  align-items: center;
  padding-bottom: 0rem;
}

.input-group input[type="radio"] {
  margin-inline-start: -2.5rem;
  margin-inline-end: 0.4rem;
  appearance: none;
  width: 3.13vw;
  height: 1.97vh;
  background-color: #3eb25e;
  opacity: 30%;
  border-radius: 50%;
}

.input-group input[type="radio"]:checked {
  background-color: #3eb25e;
  opacity: 100;
}

.button-group {
  margin-inline-start: 3.5rem;
  margin-bottom: 0.63rem;
  display: flex;
}

button {
  width: 29.58vw;
  height: 3.42vh;
  flex-shrink: 0;
  border-radius: 2.1875rem;
  background: #3eb25e;
  font-size: 1rem;
  font-weight: 700;
  color: #fff;
  border: none;
  margin-inline-end: 1.12rem;
}

button:hover {
  color: #000;
  background-color: #ffff7d;
  transition: 0.6s;
}

.skip {
  margin-inline-start: 3.5rem;
}

.button-skip {
  width: 62.92vw;
  height: 3.42vh;
}

@media only screen and (min-width: 1024px) {
  body {
    display: flex;
    flex-direction: row;
  }

  img {
    width: 43.17vw;
    height: 69.47vh;
    padding-top: 6.12rem;
    padding-bottom: 8.37rem;
    padding-inline-start: 5.47rem;
    margin-inline-end: 5.87rem;
  }

  form {
    padding-top: 8.81rem;
    padding-inline-end: 0;
    align-items: start;
  }

  p {
    width: 36.72vw;
    font-size: 1.625rem;
    margin-bottom: 0.7rem;
    text-align: start;
  }

  select {
    width: 37.65vw;
    height: 6.84vh;
    font-size: 1.6875rem;
    margin-bottom: 2.7rem;
  }

  .p2 {
    padding: 0;
    font-size: 1.555rem;
    line-height: normal;
    margin-inline-end: 2.37rem;
    margin-bottom: 1.5rem;
    width: 39.92vw;
  }

  .input-group {
    width: 28vw;
    margin-inline-start: 0.2rem;
    margin-bottom: 5.2rem;
    font-size: 1.625rem;
  }

  .input-group label {
    margin-bottom: 1rem;
  }

  .input-group input[type="radio"] {
    margin-inline-start: 0;
    margin-inline-end: 1rem;
    appearance: none;
    width: 1.95vw;
    height: 3.29vh;
  }

  .button-group {
    margin: 0;
    display: flex;
    align-items: start;
    margin-bottom: 0.94rem;
  }

  button {
    width: 15.55vw;
    height: 4.74vh;
    font-size: 1.375rem;
  }

  .skip {
    margin: 0;
    display: flex;
    align-items: start;
  }
  .button-skip {
    width: 32.66vw;
    height: 4.74vh;
  }
}
