* {
  margin: 0;
  font-family: "Roboto", sans-serif;
}

body {
  background-color: #fff;
  margin: 0;
}

img {
  width: 25.1875rem;
  height: 21.8825rem;
  flex-shrink: 0;
  padding-top: 3.19rem;
  padding-inline-start: 2rem;
  padding-inline-end: 2.81rem;
  padding-bottom: 1.74rem;
}

.text-area {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
}

h2 {
  color: #000;
  width: 25.6875rem;
  height: 4.3125rem;
  flex-shrink: 0;
  font-size: 1.875rem;
  font-weight: 700;
  padding-bottom: 1.37rem;
}

p {
  width: 20.8125rem;
  height: 7.5625rem;
  flex-shrink: 0;
  font-size: 1.125rem;
  font-weight: 400;
}

.button-group {
  height: 3rem;
}

button {
  color: #fff;
  font-size: 1rem;
  font-weight: 700;
  width: 8.875rem;
  height: 1.625rem;
  flex-shrink: 0;
  border-radius: 2.1875rem;
  background: #3eb25e;
  border: none;
  margin-inline-end: 1rem;
}

button:hover {
  color: #000;
  background-color: #ffff7d;
  transition: 0.6s;

}

@media only screen and (min-width: 1024px) {
  .page-two {
    display: flex;
  }

  img {
    width: 34.53206rem;
    height: 30.00094rem;
    padding-top: 9.12rem;
    padding-bottom: 8.37rem;
    padding-inline-start: 5.47rem;
    padding-inline-end: 4.94rem;
  }

  h2 {
    width: 29.5625rem;
    height: 6.3125rem;
    font-size: 2.4375rem;
    padding-top: 13.94rem;
    padding-inline-end: 5.5rem;
    padding-bottom: 0.87rem;
  }

  p {
    width: 27.6875rem;
    height: 10.5625rem;
    font-size: 1.75rem;
    padding-bottom: 3.16rem;
  }

  button {
    width: 12.4375rem;
    height: 2.25rem;
    font-size: 1.375rem;
    margin-inline-end: 1.16rem;
  }
}
